/CMakeFiles/
/Debug/
/VKTS_Example03.dir/
/x64/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/VKTS_Example03.sdf
/VKTS_Example03.sln
/VKTS_Example03.vcxproj
/VKTS_Example03.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/VKTS_Example03.vcxproj.user
/.vs/VKTS_Example03/v14/.suo