/CMakeFiles/
/Debug/
/VKTS_Example06.dir/
/x64/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/VKTS_Example06.sdf
/VKTS_Example06.sln
/VKTS_Example06.vcxproj
/VKTS_Example06.vcxproj.filters
/VKTS_Example06.vcxproj.user
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/.vs/VKTS_Example06/v14/.suo
