/CMakeFiles/
/Debug/
/VKTS_Example09.dir/
/x64/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/VKTS_Example09.sdf
/VKTS_Example09.sln
/VKTS_Example09.vcxproj
/VKTS_Example09.vcxproj.filters
/VKTS_Example09.vcxproj.user
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/.vs/VKTS_Example09/v14/.suo
