/CMakeFiles/
/Debug/
/VKTS_Example05.dir/
/x64/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/VKTS_Example05.sdf
/VKTS_Example05.sln
/VKTS_Example05.vcxproj
/VKTS_Example05.vcxproj.filters
/VKTS_Example05.vcxproj.user
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/.vs/VKTS_Example05/v14/.suo
