/CMakeFiles/
/Debug/
/VKTS_Example04.dir/
/x64/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/VKTS_Example04.sdf
/VKTS_Example04.sln
/VKTS_Example04.vcxproj
/VKTS_Example04.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/VKTS_Example04.vcxproj.user
/.vs/VKTS_Example04/v14/.suo
