/intel64_Windows_Win32_GNU_Debug/
/intel64_Windows_Win32_GNU_Release/
/intel64_Windows_None_GNU_Debug/
/intel64_Windows_None_GNU_Release/
/intel64_Linux_Xlib_GNU_Debug/
/intel64_Linux_Xlib_GNU_Release/
/intel64_Linux_None_GNU_Debug/
/intel64_Linux_None_GNU_Release/
