/CMakeFiles/
/Debug/
/VKTS_Test_General.dir/
/x64/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/VKTS_Test_General.sdf
/VKTS_Test_General.sln
/VKTS_Test_General.vcxproj
/VKTS_Test_General.vcxproj.filters
/VKTS_Test_General.vcxproj.user
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/.vs/VKTS_Test_General/v14/.suo
